html, body {
    height: 100%; 
    margin: 0; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: Arial;
}

body {
    background-image: url(casino.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form {
    text-align: center;
    justify-content: center;
    background: linear-gradient(rgba(170, 157, 230, 0.8), rgba(35, 2, 184, 0.8));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
    border-radius: 10px;
}

a{
    color: #000000;
    background: linear-gradient(rgba(171, 162, 209, 0.8), rgba(49, 15, 199, 0.8));
    text-decoration: none;
    border-radius: 15px;
}

input[type="number"] {
    text-align: center;
}


div[id="latestResults"] {
    width: 70%;
    height: 200px;
}

#latestResults {
    margin: 20px auto;
    padding: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(200, 200, 255, 0.8));
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

h2{
    text-align: center;
    justify-content: center;
    background: linear-gradient(rgba(170, 157, 230, 0.8), rgba(35, 2, 184, 0.8));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
}

.table-container {
    max-height: 800px;
    overflow-y: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    background: linear-gradient(rgba(170, 157, 230, 0.8), rgba(35, 2, 184, 0.8));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #000000;
}

.table-container table {
    width: 100%;
    border-collapse: collapse; 
}

.table-container th, .table-container td {
    text-align: left;
    padding: 10px;
    border: 1px solid #000000;
}

.table-container tr:hover {
    background-color: #ddd;
}