html{
    background-image: url(casino.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    font-size: 40px;
}

form{
    text-align: center;
    justify-content: center;    
    align-items: center;
    margin: auto;
    
    width: 50%;

    background: linear-gradient(rgba(170, 157, 230, 0.8), rgba(35, 2, 184, 0.8));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    padding: 15px;
    border-radius: 10px; 
}

a{
    color: #000000;
    background: linear-gradient(rgba(171, 162, 209, 0.8), rgba(49, 15, 199, 0.8));
    text-decoration: none;
    border-radius: 10px; 
}